<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Что вы знаете о полетах? Тест от «Мозгвы»</title>

    <meta name="og:title" content="Что вы знаете о полетах? Тест от «Мозгвы»" />
    <meta name="og:description" content="Самолёты, вертолёты, планеры, автожиры, махолёты, монокоптеры, дирижабли, воздушные шары и другие летающие транспортные средства." />
    <meta name="og:image" content="<%= BASE_URL %>img/img-og.png" />
  </head>
  <body>
    <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
    <script src="//yastatic.net/share2/share.js"></script>
    
    <noscript>
      <strong>We're sorry but app doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
