<template>
  <div class="main">
    <div class="main__wrap">
      <div class="main__header">
        <a href="" class="logo"></a>
      </div>

      <template v-if="result">
        <div class="main__score"><span>{{ score }}</span> из {{ count }}</div>

        <template v-if="(score / count) > 0.78">
          <div class="main__desc main__desc_score">Вот это эрудиция! Вы отлично справились с нашими, прямо скажем, непростыми вопросами. Если вы так много знаете о летательных аппаратах, то наверняка подкованы и в других областях. Приходите попробовать силы в бар-олимпиаде «Мозгва», у вас огромные шансы выиграть!</div>
        </template>

        <template v-if="(score / count) > 0.42 && (score / count) <= 0.78">
          <div class="main__desc main__desc_score">Вы неплохо подкованы в теме летательных аппаратов! Но, наверняка, это не главное ваше увлечение — есть вещи, в которых вы разбираетесь не хуже. Уверены, с вопросами бар-олимпиады «Мозгва» вы легко справитесь, приходите попробовать!</div>
        </template>

        <template v-if="(score / count) <= 0.42">
          <div class="main__desc main__desc_score">Кажется, вы эрудированный человек! Кое-что знаете и о полетах, и о летательных аппаратах, но, сдается, это не ваша любимая тема. А какие ваши? В бар-олимпиаде «Мозгва» сотни вопросов из самых разных областей знаний. Приходите с командой, у вас хорошие шансы на успех!</div>
        </template>

        <div class="main__bottom">
          <span class="main__share" v-on:click="showShare()"></span>
          <a href="https://mozgva.com/calendar?city_id=1" target="_parent" class="button">Лечу на «Мозгву»!</a>
        </div>
      </template>

      <template v-else>
        <div class="main__text">Представляет тест:</div>
        <h1 class="main__ttl">Что вы знаете о полетах?</h1>
        <div class="main__desc">Самолёты, вертолёты, планеры, автожиры, махолёты, монокоптеры, дирижабли, воздушные шары и другие летающие транспортные средства. </div>
        <a v-on:click="changeStage('quest')" class="button">Пройти тест</a>
      </template>

    </div>
  </div>
</template>

<script>
  import { mapActions, mapState } from 'vuex'

  export default {
    name: 'Main',
    props: {
      result: Boolean
    },
    computed: mapState('questions', {
      count: state => state.items.length,
      score: state => state.items.filter(item => item.valid).length,
    }),
    methods: {
      ...mapActions('main', [
        'changeStage'
      ]),      
      ...mapActions('share', {
        showShare: 'show',
      }),
    }
  }
</script>

<style scoped lang="scss">
  .main
  {
    padding: 15px;
    min-height: 480px;

    background: url('../assets/style/images/back.png') no-repeat center center;
    background-size: cover;

    box-sizing: border-box;

    &__wrap
    {
      max-width: 430px;
      padding: 0 20px 30px;
      margin: 0 auto;

      box-sizing: border-box;
      border-radius: 125px;

      overflow: hidden;

      background: linear-gradient(348.54deg, #FFFFFF 62.17%, rgba(255, 255, 255, 0.55) 96.93%);

      text-align: center;

      > .button
      {
        margin-top: 20px;
      }
    }

    &__header
    {
      width: 150px; 

      margin: 0 auto 20px;
      padding: 27px 0 24px;

      background: linear-gradient(355.23deg, #F54629 66.7%, #FF8C8C 95.29%);
      box-shadow: 0px 4px 30px rgba(255, 255, 255, 0.25);

      border-radius: 0 0 20px 20px;
    }

    &__text
    {
      margin-bottom: 10px;
    }

    &__ttl
    {
      line-height: normal;
      font-size: 48px;
      line-height: 43px;

      font-family: $font-slab;
      font-weight: 900;
    }

    &__desc
    {
      margin-top: 18px;

      &_score
      {
        font-size: 18px;

        margin-top: 25px;
      }
    }

    &__score
    {
      font-weight: 900;
      font-size: 28px;

      color: #FF3232;

      span
      {
        font-size: 120px;
        line-height: 50px;
      }
    }

    &__bottom
    {
      margin-top: 20px;

      display: flex;
      align-items: center;
      justify-content: center;

      .button
      {
        width: 151px;
      }
    }

    &__share
    {
      display: block;
      position: relative;

      width: 50px;
      height: 50px;

      background: linear-gradient(358.76deg, #F54629 50.04%, #FF8C8C 98.98%);
      box-shadow: 0px 4px 30px rgba(255, 255, 255, 0.25);
      border-radius: 50%;

      margin-right: 10px;

      flex-shrink: 0;

      cursor: pointer;

      &:hover
      {
        background: #F54629;
      }

      &::before
      {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background: url('../assets/style/images/icon-share.svg') no-repeat center center;
      }
    }
  }

  @media (max-width: 680px) {
    .main
    {
      padding: 0;
      background: #fff;

      &__wrap
      {
        padding: 0;

        border-radius: 100px 100px 0 0;

        background: transparent;

        position: relative;

        &::before
        {
          content: '';
          display: block;

          height: 210px;

          background: url('../assets/style/images/back.png') no-repeat center center;
          background-size: cover;

          margin-bottom: 20px;
        }
      }

      &__header
      {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
      }

      &__ttl
      {
        font-size: 40px;
      }

      &__desc
      {
        &_score
        {
          font-size: 16px;
        }
      }
    }
  }
</style>
