<template>
  <div class="quest" v-bind:class="{ 'quest_active': active, 'quest_answered': quest.answered }">
    <template v-if="quest.images.length == 1">
      <div class="quest__img"><img v-bind:src="quest.images[0]" alt=""/></div>
    </template>
    <template v-else>
      <div class="quest__images">
        <div class="quest__images-wrap">        
          <template v-for="(image, idx) in quest.images">
            <div v-bind:key="idx" class="quest__images-item" v-bind:class="[`quest__images-item_${idx + 1}`, idx % 2 ? 'quest__images-item_left' : '']"><img v-bind:src="image" alt=""/></div>
          </template>
        </div>
        <carousel ref="carousel" v-bind:perPage="1" v-bind:class="['quest__images-slider']" v-bind:navigateTo="1">
          <slide v-for="(image, idx) in quest.images" v-bind:key="idx">
            <div class="quest__images-item" v-bind:class="[`quest__images-item_${idx + 1}`]"><img v-bind:src="image" alt=""/></div>
          </slide>
        </carousel>
      </div>
    </template>
    <div class="quest__container">
      <div class="quest__wrap">
        <div class="quest__preresult">
          <template v-for="(item, idx) in items">
            <span v-bind:key="idx" class="quest__preresult-item" v-bind:class="{ 'quest__preresult-item_valid': item.valid, 'quest__preresult-item_invalid': item.valid === false }">
              <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.8647 0.000175326C12.2747 -0.0091516 11.5647 0.354252 10.9729 0.946111C10.004 1.81807 9.05223 2.79571 8.13505 3.78393L0.567548 2.27043L0 3.40554L5.6756 6.24336L2.45943 10.0271C1.72194 9.78452 0.567569 9.50853 0.567568 10.4055C0.567556 10.5827 0.611914 10.7654 0.756748 10.973L3.02697 13.2433C3.23465 13.3881 3.41727 13.4324 3.59453 13.4324C4.49146 13.4324 4.21547 12.2781 3.9729 11.5406L7.75665 8.32439L10.5945 14L11.7296 13.4324L10.2161 5.86495C11.2043 4.94777 12.1819 3.99599 13.0539 3.02715C13.6457 2.43528 14.0091 1.72531 13.9998 1.13528C13.9948 0.817414 13.8945 0.514759 13.691 0.308979C13.4852 0.105464 13.1826 0.0052077 12.8647 0.000175326Z" />
              </svg>
            </span>
          </template>
        </div>
        <div class="quest__number">{{ number }}</div>
        <template v-if="quest.title">
          <div class="quest__ttl">{{ quest.title }}</div>
        </template>
        <template v-if="quest.text">
          <div class="quest__desc">{{ quest.text }}</div>
        </template>
      </div>
      <div class="quest__answers">
        <template v-for="(variant, idx) in quest.variants">
          <div v-bind:key="idx" v-on:click="selectQuestVariant(idx)" class="quest__answers-item">{{ variant.value }}</div>
        </template>
      </div>
      <div v-bind:class="{ 'quest__result_invalid': !quest.valid }" class="quest__result">
        <div class="quest__result-header">
          <span>{{ quest.valid ? 'Правильный ответ' : 'Неправильный ответ' }}</span>
          <svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10" cy="10" r="10"/><path d="M10 14a3 3 0 0 0 3-3H7a3 3 0 0 0 3 3zM6 8c0 .553-.448.5-1 .5S4 8.553 4 8a1 1 0 1 1 2 0zm10 0c0 .553-.448.5-1 .5s-1 .053-1-.5a1 1 0 1 1 2 0z"/><path clip-rule="evenodd" d="M4.5 7.99c.03.005.071.008.126.01.071.002.142.001.225 0h.298c.083.001.153.002.224 0a1.35 1.35 0 0 0 .127-.01.5.5 0 0 0-1 0zm.995.065v-.001zm-.99 0l-.001-.001zM3.5 8a1.5 1.5 0 1 1 3 0c0 .202-.041.413-.168.597a.886.886 0 0 1-.477.338c-.156.048-.318.06-.45.064-.091.003-.195.002-.29.002L5 9h-.116a9.344 9.344 0 0 1-.29 0 1.713 1.713 0 0 1-.45-.065.886.886 0 0 1-.476-.338A1.026 1.026 0 0 1 3.5 8zm11-.01c.03.005.071.008.126.01.071.002.142.001.225 0h.298c.083.001.153.002.224 0a1.35 1.35 0 0 0 .127-.01.5.5 0 0 0-1 0zm.995.065v-.001zm-.99 0l-.001-.001zM13.5 8a1.5 1.5 0 1 1 3 0c0 .202-.041.413-.168.597a.886.886 0 0 1-.477.338c-.156.048-.318.06-.45.064-.091.003-.195.002-.29.002L15 9h-.116a9.344 9.344 0 0 1-.29 0 1.713 1.713 0 0 1-.45-.065.886.886 0 0 1-.476-.338A1.026 1.026 0 0 1 13.5 8z"/></svg>
        </div>
        <div class="quest__result-desc">{{ quest.answer }}</div>
        <div class="quest__result-btn">
          <a v-on:click="select(number)" class="button button_transparent">{{ isLast ? 'Посмотреть результат' : 'Следующий вопрос' }}</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex'
  import { Carousel, Slide } from 'vue-carousel';
  
  export default {
    name: 'Quest',
    props: {
      quest: Object,
      active: Boolean,
    },
    components: {
      Carousel,
      Slide
    },
    computed: mapState('questions', {
      items: state => state.items,
      number: state => state.selected + 1,
      count: state => state.items.length,
      isLast() {
        return this.number == this.count;
      }
    }),
    methods: {
      ...mapActions('questions', [
        'selectQuest',
        'selectVariant'
      ]),
      ...mapActions('main', [
        'changeStage',
      ]),
      selectQuestVariant (idx) {
        this.selectVariant(idx);

        window.sendHeight();
      },
      select (number) {
        if (this.isLast) {
          this.changeStage('result');
        } else {
          this.selectQuest(number);
        }

        window.sendHeight();
      }
    }
  }
</script>

<style lang="scss">
  .quest
  {
    position: absolute;
    height: 100%;

    display: flex;
    align-items: center;

    opacity: 0;
    z-index: -1;

    top: 0;
    left: 0;
    right: 0;

    &_active
    {
      position: relative;

      top: auto;

      z-index: 1;

      opacity: 1;
    }

    &__container
    {
      width: 310px;

      margin-left: 40px;
      padding: 25px 0;

      flex-shrink: 0;

      transform: translateX(200%);

      transition: .5s;
    }

    &_active &__container
    {
      transform: translateX(0);
    }

    &__wrap
    {
      background: rgba(255, 255, 255, .95);
      border-radius: 4px;

      margin-bottom: 10px;

      padding: 3px 3px 20px;
    }

    &__preresult
    {
      margin-bottom: 20px;

      display: flex;
      align-items: center;
      justify-content: space-between;

      &-item
      {
        display: inline-block;
        
        &:not(:last-child) {
          margin-right: 2px;
        }

        svg path
        {
          fill: #E1E5E7;

          transition: .3s;
        }

        &_valid svg path
        {
          fill: #04D77E;
        }

        &_invalid svg path
        {
          fill: #F5472A;
        }
      }
    }

    &__number
    {
      color: #C4C4C4;
      text-align: center;

      margin-bottom: 20px;
    }

    &__ttl
    {
      font-size: 26px;
      text-align: center;
    }

    &__desc
    {
      font-size: 14px;
      padding: 0 10px;
    }

    &__img
    {     
      width: 100%;    

      img
      {
        display: block;

        margin: 0 auto;

        border: 10px solid #fff;

        transform: rotate(-1.37deg);

        max-width: 360px;        
        max-height: 400px;

        transform: scale(0);

        transition: .5s;
      }
    }

    &_active &__img img,
    &_answered &__img img
    {
      transform: scale(1);
    }

    &__images
    {
      width: 100%;

      &-item
      {
        text-align: right;

        img
        {
          max-width: 265px;
          max-height: 200px;

          border: 10px solid #fff;

          transition: .5s;

          transform: scale(0) rotate(0);
        }

        &_left
        {
          text-align: left;
        }

        &_1
        {
          position: relative;
          z-index: 2;
        }

        &_2 
        {
          margin-top: -40px;

          position: relative;
          z-index: 1;
        }

        &_3 
        {
          margin-top: -50px;
        }
      }

      &-slider
      {
        display: none;        
      }
    }

    &_active &__images-item_1,
    &_answered &__images-item_1
    {
      img
      {
        transform: scale(1) rotate(-1.35deg);
      }
    }

    &_active &__images-item_2,
    &_answered &__images-item_2 
    {
      img
      {
        transform: scale(1) rotate(-5.42deg);
      }
    }

    &_active &__images-item_3,
    &_answered &__images-item_3 
    {
      img
      {
        transform: scale(1) rotate(3.83deg);
      }
    }

    &__answers
    {
      background: rgba(255, 255, 255, .95);
      border-radius: 4px;

      overflow: hidden;

      &-item
      {      
        font-size: 18px;
        padding: 0 10px;
        text-align: center;

        height: 65px;

        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;

        transition: .3s;

        &:not(:last-child) {
          border-bottom: 1px solid rgba(0, 0, 0, .1);
        }

        &:hover
        {
          background: #EDEDED;
        }
      }
    }

    &_answered &__answers
    {
      display: none;
    }

    &__result
    {
      background: #04D77E;

      padding: 3px 3px 10px;

      border-radius: 10px;

      color: #fff;

      opacity: 0;
      transform: translateY(200%);

      transition: .5s;

      position: absolute;

      &_invalid
      {
        background: #F5472A;
      }

      &-header
      {
        height: 54px;

        padding: 0 10px;

        background: #fff;
        border-radius: 7px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        color: #04D77E;

        svg
        {
          fill: #04D77E;

          path
          {
            fill: #fff;
          }
        }
      }

      &_invalid &-header
      {
        color: #F5472A;

        svg
        {
          fill: #F5472A;
        }
      }

      &-desc
      {
        font-size: 14px;

        padding: 0 12px;

        margin-top: 10px;
      }

      &-btn
      {
        margin-top: 15px;

        text-align: center;

        .button
        {
          max-width: 175px;
          padding: 10px;


          &::after
          {
            content: '';
            display: inline-block;

            width: 8px;
            height: 8px;

            background: url('../assets/style/images/icon-arrow.svg') no-repeat center center;

            margin-left: 10px;
          }
        }
      }
    }

    &_answered &__result
    {
      opacity: 1;
      transform: translateY(0);

      position: relative;
      z-index: 1;
    }
  }

  @media (max-width: 680px) {
    .quest
    {
      &_active
      {
        display: block;
      }
      
      &__container
      {
        width: 100%;

        margin-left: 0;
        padding-bottom: 0;
        padding-top: 10px;
      }

      &__wrap
      {
        padding-bottom: 10px;
      }

      &__preresult
      {
        margin-bottom: 10px;
      }

      &__number
      {
        margin-bottom: 10px;
      }

      &__img
      {
        img
        {
          max-width: 250px;
          max-height: 200px;
        }
      }

      &__ttl
      {
        font-size: 14px;
      }

      &__answers
      {
        &-item
        {
          font-size: 16px;

          height: 50px;
        }
      }

      &__images
      {
        width: auto;
        padding: 10px 0;
        margin: 0 -15px;
        
        &-wrap
        {
          display: none;
        }

        &-item
        {
          flex-shrink: 0;

          margin: 0 10px;

          margin-top: 0 !important;

          text-align: center;

          img
          {
            max-width: 180px;
          }
        }

        &-slider
        {
          display: block;

          width: 250px;

          margin: 0 auto;

          .VueCarousel
          {
            &-wrapper
            {
              overflow: visible;
            }

            &-slide
            {
              display: flex;
              align-items: center;
              justify-content: center;
            }

            &-dot
            {
              margin: 0 !important;
              padding: 0 4px !important;

              &-button
              {
                width: 4px !important;
                height: 4px !important;

                background: #fff !important;

                &:focus
                {
                  outline: none;
                }
              }

              &--active .VueCarousel-dot-button
              {
                background: #FF3232 !important;
              }
            }
          }
        }
      }      
    }
  }
</style>

