<template>
  <div class="questions">
    <Quest v-for="(item, idx) in items" v-bind:key="idx" v-bind:quest="item" v-bind:active="selected == idx"/>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import Quest from './Quest.vue'

  export default {
    name: 'Questions',
    components: {
      Quest
    },
    computed: mapState('questions', {
      items: state => state.items,
      selected: state => state.selected,
    }),
  }
</script>

<style lang="scss">
  .questions
  {
    padding: 15px;
    height: 480px;

    background: url('../assets/style/images/back.png') no-repeat center center;
    background-size: cover;

    box-sizing: border-box;

    position: relative;
    overflow: hidden;

    perspective: 500px;

    &::before
    {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      background: rgba(0, 0, 0, .3);
    }
  }

  @media (max-width: 767px) {
    .questions
    {
      border-radius: 20px;

      height: auto;
    }
  }
</style>

