<template>
  <div class="share" v-bind:class="{'share_active': active}">
    <div class="share__wrap">
      <div class="share__ttl">Поделиться тестом</div>
      <div class="share__items">
        <div class="ya-share2" data-bare data-copy="first" data-limit="4" data-services="twitter,skype,facebook,vkontakte,whatsapp"></div>
      </div>
      <div class="share__cancel" v-on:click="hide()"><span>Отмена</span></div>
    </div>
  </div>
</template>

<script>
  import { mapActions, mapState } from 'vuex'

  export default {
    name: 'Share',
    computed: mapState('share', {
      active: state => state.active,
    }),
    methods: mapActions('share', [
      'hide'
    ])
  }
</script>

<style lang="scss">
  .share
  {
    background: rgba(0, 0, 0, .5);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: none;

    &_active
    {
      display: block;
    }

    &__wrap
    {
      position: absolute;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);

      max-width: 350px;

      width: 95%;

      background: #fff;
      border-radius: 10px;

      color: #23255A;
    }

    &__ttl
    {
      text-align: center;

      padding: 20px 0 30px;
    }

    &__cancel
    {
      padding: 10px 0;
      border-top: 1px solid #EEEEF0;

      text-align: center;
      font-size: 18px;

      span
      {
        cursor: pointer;

        &:hover
        {
          text-decoration: underline;
        }
      }
    }
  }

  .ya-share2
  {
    &__list
    {
      list-style-type: none;
      margin: 0;
      padding: 0;

      display: flex;
      align-items: flex-start;

      flex-wrap: wrap;
    }

    &__item
    {
      width: 33.33333%;
      flex-shrink: 0;

      order: 1;

      text-align: center;

      margin-bottom: 20px;

      cursor: pointer;

      &:hover > a
      {
        text-decoration: underline;
      }

      > a::before
      {
        content: '';
        display: block;

        width: 50px;
        height: 50px;
        margin: 0 auto 10px;

        background: no-repeat center center;
      }

      &_more
      {
        order: 0;

        width: 66.66666%;

        > a::before
        {
          display: none;
        }
      }

      &_copy
      {
        a::before
        {
          background-image: url('../assets/style/images/icon-copy.png');
        }

        input
        {
          display: none;
        }
      }

      &_service_twitter a::before
      {
        background-image: url('../assets/style/images/icon-twitter.png');
      }

      &_service_whatsapp a::before
      {
        background-image: url('../assets/style/images/icon-whatsapp.png');
      }

      &_service_skype a::before
      {
        background-image: url('../assets/style/images/icon-skype.png');
      }

      &_service_facebook a::before
      {
        background-image: url('../assets/style/images/icon-facebook.png');
      }

      &_service_vkontakte a::before
      {
        background-image: url('../assets/style/images/icon-vk.png');
      }
    }

    &__item_more &__item
    {
      width: 50%;
    }

    &__link
    {
      color: #838383;

      display: block;
    }
  }
</style>
