<template>
  <div class="wrapper">
    <div class="container" id="container">
      <template v-if="stage == 'main'">
        <Main />
      </template>
      <template v-if="stage == 'quest'">
        <Questions />
      </template>

      <template v-if="stage == 'result'">
        <Main result />
      </template>
    </div>
    <Share />
  </div>
</template>

<script>
  import { mapState } from 'vuex'

  import Main from './components/Main.vue'
  import Questions from './components/Questions.vue'
  import Share from './components/Share.vue'

  export default {
    name: 'app',
    components: {
      Main,
      Questions,
      Share
    },
    computed: mapState('main', {
      stage: state => state.stage
    })
  }
</script>

<style lang="scss"> 
  @import './scss/fonts.scss';
  @import './scss/layout.scss';
  @import './scss/button.scss';
  @import './scss/logo.scss';
  @import './scss/processing.scss';
</style>
