.button
{
	display: inline-flex;

	width: 100%;
	max-width: 270px;

	background: linear-gradient(359.77deg, #F54629 50.04%, #FF8C8C 98.98%);
	box-shadow: 0px 4px 30px rgba(255, 255, 255, 0.25);
	border-radius: 50px;

	font-weight: 700;
	font-size: 14px;
	color: #FFFFFF;

	text-align: center;

	padding: 0 13px;

	height: 50px;

	align-items: center;
	justify-content: center;

	border: none;
	outline: none;

	box-sizing: border-box;
	
	appearance: none;
	cursor: pointer;

	&:hover
	{
		background: #F54629;
	}

	&_transparent
	{
		border: 2px solid #fff;
		background: transparent;

		color: #fff;

		&:hover
		{
			background: #fff;
			color: #F54629;
		}
	}
}

